.error {
  color: red;
  font-size: small;
}
.input-error {
  color: red;
  border: 1px solid red;
}
.delete-comment {
  float: right;
  font-size: 11px;
}
.delete-comment:hover,
.delete-post:hover {
  color: red;
  text-decoration: underline;
}
.fa.fa-close:hover {
  color: red;
  cursor: pointer;
}
.customOverlay {
  background: rgba(36, 123, 160, 0.7);
}
.customModal {
  background: #b2dbbf;
  max-width: 800px;
  height: 500px;
  width: 100%;
}
.pointer:hover {
  cursor: pointer !important;
}
.add-btn > .follw-text {
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 4px 20px;
  border: 1px solid transparent;
  background: #088dcd;
}
.checkbox input,
.form-radio input {
  opacity: 1 !important;
}
.link-color {
  color: cornflowerblue !important;
}
